/* Ordinateur */
@media screen and (min-width:1024px) {
    .menu {
    flex-direction: row;
    }

    h2 {
    font-size: 30px;
    }
/*

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .entre .plat .dessert {
    width: ;
    justify-content: space-between;
    }*/
}

/* Tablette */
@media screen and (max-width:768) {
    

}

/* Mobile */
@media screen and (max-width:414px) {
    .reserve h2 {    
        padding: 0 55px 0 55px;
    }
}   