/* Ordinateur */
@media screen and (min-width:1024px) {
    main {
        width: 80%;
        margin: 0 auto;
    }
    
    .menu {
        flex-direction: row;
        margin-top: 60px;
        position: relative;
    }

    .restaurant img {
        margin-right: -13%;
        margin-left: -13%;
    }

    .restaurant .resto-name {
        width: 80%;
    }

    .menu .menu-content {
        padding: 2.5% 0 2.5% 2.5%;
    }

    h4 {
        font-size: 25px;
    }

    .menu-content {
        width: 100%;
    }

    footer h2,
    footer ul li {
        display: flex;
        justify-content: center;
        align-content: center;
    }

}

/* Tablette */
@media screen and (max-width:1024px) {      
    .menu-content {
        width: 100%;
    }
}

/* Mobile */
@media screen and (max-width:414px) {
    .reserve h2 {    
        padding: 0 55px 0 55px;
    }
}   