* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "roboto", sans-serif;
}

a {
    text-decoration: none;
}

/* Loading Spinner */
.loading-spinner {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%; 
    background-color: #FFF;
    opacity: 0.8; 
    animation: loading-spinner linear 2500ms;
    animation-fill-mode: forwards;
}

@keyframes loading-spinner {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0);
    }
}

.spinner-box {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 300px;
    animation: spinner-box 1000ms linear infinite;
}

.spinner {
    position: relative;
    width: 60px;
    height: 60px;
    border: 15px solid;
    border-radius: 50%;
}

.spinner-purple {
    border-color: #9356DC;
}

.spinner-mint {
    border-color: #99E2D0;
}

.spinner-pink {
    border-color: #FF79DA;
}

@keyframes spinner-box {
    from {
        transform: rotate(0turn) scale(1);
    }
    to {
        transform: rotate(1turn) scale(0.2);
    }
}

/* Section 1 : Header Logo */
header h1 {
    font-family: "shrikhand", sans-serif;
    font-size: 38px;
    color: #000;
    text-align: center;
    padding: 15px 0 5px 0;
    box-shadow: 0 0px 10px 0px #606060;
    margin-bottom: 5px;
}

/* Section 2 : Search & Réservez & Fonctionnement */
main {
    line-height: 25px;
}

.search-bar {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    background-color: #E8E8E8;
}

.search-box {
    border: none;
    background-color: #E8E8E8;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

.search-bar i {
    font-size: 20px;
    height: 20px;
    color: #000;
}

.reserve {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #F6F6F6;
    padding: 40px 20px 40px 20px;
}

.reserve p {
    font-size: 18px;
    padding: 10px 0 25px 0;
}

.reserve button {
    background-image: linear-gradient(#FF79DA, #9356DC);
    color: #FFF;
    border-radius: 25px;
    width: 220px;
    height: 50px;
    border: none;
    box-shadow: 0px 4px 4px 0px #B8B8B8;
    font-size: 15px;
}

.reserve button:hover {
    filter: brightness(115%);
    box-shadow: 5px 15px 15px 5px #B8B8B8;
    transform: scale(1.1);
}

.fonction {
    background-color: #FFF;
    padding: 40px 20px 40px 0;
    counter-reset: numbers;
}

.fonction h2 {
    padding-left: 20px;
}

.fonction li {
    background-color: #F6F6F6;
    font-weight: bold;
    border-radius: 18px;
    width: 100%;
    height: 70px;
    padding: 25px;
    margin: 20px 0 20px 0;
    box-shadow: 0 5px 5px 2px #E8E8E8;
    align-items: center;
    justify-content: center;
    position: relative;
}

ol {
    list-style-type: none;
}

.fonction li::before {
    display: flex;
    flex-direction: row;
    justify-content: center;
    counter-increment: numbers;
    content: counter(numbers);
    background-color: #9356DC;
    color: #FFFF;
    font-size: 12px;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    position: absolute;
    left: -15px;
}

.fonction li:hover {
    filter: brightness(105%);
    box-shadow: 2px 2px 5px 2px #B8B8B8;
    background-color: #9356DC20;
}

.fonction li i {
    padding: 0 20px 0 10px;
    color: #696969;
    font-size: 17px;
 }

 .fonction li i:hover {
    color: #9356DC;
}

/* Section 3 : Restaurants */
.restaurants {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #F6F6F6;
    padding: 40px 20px 40px 20px;
}

.restaurants h2 {
    padding-bottom: 20px;
}

.resto a {
    display: inline-block;
    width: 100%;
}

.card {
    margin-bottom: 20px;
    padding-bottom: 15px;
    width: 100%;
    overflow: hidden;
    background-color: #FFFF;
    border-radius: 15px;
    box-shadow: 0px 3px 3px 3px #EEEE;
    position: relative;
}

.card span {
    position: absolute;
    right: 10px;
    font-weight: bold;
    color: #2b9f83;
    margin-top: 10px;
    padding: 5px 15px;
    background-color: #99E2D0;
    border-radius: 2px;
}

.card img{
    display: inline-block;
    height: 180px;
    width: 100%;
    object-fit: cover;
}

.card-text {
    padding-left: 10px;
    color: #000;
}

.card-text h3 {
    font-weight: bold;
    font-size: 18px;
}

.card-text p {
    font-weight: 100;
    font-size: 18px;
}

.hearts {
    cursor: pointer;
    position: relative;
    bottom: 25px;
    right: 5px;
}

.empty-heart {
    position: absolute;
    bottom: 23px;
    right: 25px;
    font-size: 28px;
    color: #000;
}

.colored-heart {
    position: absolute;
    bottom: 30px;
    right: 31px;
    font-size: 15px;
    color: transparent;
}

.colored-heart:hover {
    background-image: linear-gradient(#FF79DA, #9356DC);
    background-clip: text;
    -webkit-background-clip: text;
    transform: scale(1.95);
    transition-duration: 1000ms;
}

.menu-card {
    padding-bottom: 15px;
    width: 100%;
    overflow: hidden;
}

.menu-card img{
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.menu-resto {
    display: inline-block;
    border: 1px solid;
    border-radius: 25px 25px;
    width: 100%;
    height: 100px;
    padding: 0 20px 0 20px;
}

/* Section 4 : Footer */
footer {
    background-color: #353535;
    margin-right: 0;
}

footer div {
    padding: 20px;
    margin-right: 0;
}

footer h2 {
    font-family: "shrikhand", sans-serif;
    font-size: 20px;
    color: #F6F6F6;
    padding-bottom: 10px;
}

footer ul {
    list-style: none;
    font-size: 16px;
    padding: 0;
}

footer li i {
    padding-right: 8px;
    font-size: 12px;
}

footer li {
    display: list-item;
    list-style: none;
    margin: 0;
    padding: 0 0 15px 0;
}

footer li a {
    display: flex;
    align-items: center;
    line-height: 10px;
    font-weight: bold;
    color: #F6F6F6;
}
